<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="greengram2.user.UserMapper">
    <!--회원가입-->
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        insert into t_user set
        uid= #{uid}, upw= #{upw}, nm= #{nm}
        <if test=" pic!=null and pic!='' ">
            ,pic= #{pic}
        </if>
    </insert>
    <!--로그인-->
    <select id="selUserByUid">
        select iuser, upw, nm, pic from t_user
        where uid= #{uid}
    </select>
    <!--유저 정보-->
    <select id="selUserInfo">
        select a.nm, a.pic, a.created_at as createdAt,
        count(distinct b.ifeed) as feedCnt,
        count(c.ifeed) as favCnt
        from t_user a
        left join t_feed b on a.iuser=b.iuser
        left join t_feed_fav c on b.ifeed= c.ifeed
        where a.iuser= #{targetIuser}
    </select>
    <!--프로필 사진 변경-->
    <update id="updPicByIuser">
        update t_user set
        pic= #{pic}
        where iuser= #{iuser}
    </update>
</mapper>